## Importing Required Modules

In [12]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from pandas import DataFrame
from functools import reduce
from enum import Enum

warnings.filterwarnings("ignore")

In [13]:
os.path.abspath(os.getcwd())

'/Users/alexandermendelsohn/Documents/Sales Analysis'

### Merging a 12 Months of Sales Data into a Single csv

In [63]:
x=pd.read_csv("Sales Data/Sales_April_2019.csv")
file=[ i for i in os.listdir("Sales Data")]
df=pd.DataFrame()
for j in file:
    print("Sales Data/"+j)
    x=pd.read_csv("Sales Data/"+j)
    df=pd.concat([df,x])
    
df.head()

Sales Data/Sales_December_2019.csv
Sales Data/.DS_Store
Sales Data/Sales_April_2019.csv
Sales Data/Sales_February_2019.csv
Sales Data/Sales_March_2019.csv
Sales Data/Sales_August_2019.csv
Sales Data/Sales_May_2019.csv
Sales Data/Sales_November_2019.csv
Sales Data/Sales_October_2019.csv
Sales Data/Sales_January_2019.csv
Sales Data/Sales_September_2019.csv
Sales Data/Sales_July_2019.csv
Sales Data/Sales_June_2019.csv

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Unnamed: 0
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",NaN
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",NaN
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",NaN
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",NaN
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",NaN

In [64]:
df.shape

(186850, 7)

### Saving the Data into new csv file

In [65]:
df.to_csv("Updated_sales.csv",index=False)

# Data Preprocessing

define function to read data in chunks

In [66]:
df.shape

(186850, 7)

In [67]:
df.drop_duplicates().shape

(185688, 7)

In [68]:
all_features = df.columns.tolist()
all_features

['Order ID',
 'Product',
 'Quantity Ordered',
 'Price Each',
 'Order Date',
 'Purchase Address',
 'Unnamed: 0']

In [69]:
pd.isnull(df[all_features]).sum(axis=0).sort_values(ascending=False)[0:]

Unnamed: 0          186850
Purchase Address       545
Order Date             545
Price Each             545
Quantity Ordered       545
Product                545
Order ID               545
dtype: int64

In [71]:
df_tmp = df.drop(['Unnamed: 0'], axis=1)
df_tmp[df_tmp.isnull().any(axis=1)]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
264        NaN     NaN              NaN        NaN        NaN              NaN
648        NaN     NaN              NaN        NaN        NaN              NaN
680        NaN     NaN              NaN        NaN        NaN              NaN
1385       NaN     NaN              NaN        NaN        NaN              NaN
1495       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
12567      NaN     NaN              NaN        NaN        NaN              NaN
12640      NaN     NaN              NaN        NaN        NaN              NaN
12659      NaN     NaN              NaN        NaN        NaN              NaN
12732      NaN     NaN              NaN        NaN        NaN              NaN
13352      NaN     NaN              NaN        NaN        NaN              NaN

[545 rows x 6 columns]

In [72]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Unnamed: 0          object
dtype: object

In [74]:
FILE_PATH = "Updated_sales.csv"
CHUNK_SIZE = 1000

def read_raw_data(file_path: str, chunk_size: int=1000) -> DataFrame:
    csv_reader = pd.read_csv(file_path, chunksize=chunk_size)
    processed_chunks = []

    # append the processed chunk to the list
    for chunk in csv_reader:
        chunk = chunk.drop(['Unnamed: 0'], axis=1)
        chunk = chunk.drop_duplicates()
        chunk = chunk.loc[chunk["Order ID"] != "Order ID"].dropna()
        processed_chunks.append(chunk)

    # concatenate the processed chunks into a single DataFrame
    return pd.concat(processed_chunks, axis=0)

df_prepro = read_raw_data(file_path=FILE_PATH)

In [75]:
df_prepro.shape

(185686, 6)

In [76]:
df_prepro.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

### new features

In [83]:
def split_purchase_address(df_to_process: DataFrame) -> DataFrame:
    df_address_split = df_to_process["Purchase Address"].str.split(",", n=3, expand=True)
    df_address_split.columns = ["Street Name", "City", "State and Postal Code"]
    
    df_state_postal_split = (
        df_address_split["State and Postal Code"]
        .str.strip()
        .str.split(" ", n=2, expand=True)
    )
    df_state_postal_split.columns = ["State Code", "Postal Code"]
    
    return pd.concat([df_to_process, df_address_split, df_state_postal_split], axis=1)

def split_order_date(df_to_process: DataFrame) -> DataFrame:
    df_to_process['Order Month'] = pd.to_datetime(df_to_process['Order Date']).dt.month
    df_to_process['Order Day'] = pd.to_datetime(df_to_process['Order Date']).dt.day
    df_to_process['Order Hour'] = pd.to_datetime(df_to_process['Order Date']).dt.hour
    df_to_process['Order Year'] = pd.to_datetime(df_to_process['Order Date']).dt.year
    
    return df_to_process

def convert_numerical_column_types(df_to_process: DataFrame) -> DataFrame:
    df_to_process["Quantity Ordered"] = df_to_process["Quantity Ordered"].astype(int)
    df_to_process["Price Each"] = df_to_process["Price Each"].astype(float)
    df_to_process["Order ID"] = df_to_process["Order ID"].astype(int)
    
    return df_to_process


def calculate_total_order_cost(df_to_process: DataFrame) -> DataFrame:
    df_to_process["Total Cost"] = df_to_process["Quantity Ordered"] * df_to_process["Price Each"]
    return df_to_process

In [84]:
processed_df = (
    df
    .pipe(split_purchase_address)
    .pipe(split_order_date)
    .pipe(convert_numerical_column_types)
    .pipe(calculate_total_order_cost)
)

In [85]:
processed_df.columns.tolist()

['Order ID',
 'Product',
 'Quantity Ordered',
 'Price Each',
 'Order Date',
 'Purchase Address',
 'Street Name',
 'City',
 'State and Postal Code',
 'State Code',
 'Postal Code',
 'Order Month',
 'Order Day',
 'Order Hour',
 'Order Year',
 'Total Cost']

In [86]:
processed_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Street Name,City,State and Postal Code,State Code,Postal Code,Order Month,Order Day,Order Hour,Order Year,Total Cost
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",136 Church St,New York City,NY 10001,NY,10001,12,30,0,2019,1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",562 2nd St,New York City,NY 10001,NY,10001,12,29,7,2019,600.00
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",277 Main St,New York City,NY 10001,NY,10001,12,12,18,2019,11.95
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",410 6th St,San Francisco,CA 94016,CA,94016,12,22,15,2019,149.99
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",43 Hill St,Atlanta,GA 30301,GA,30301,12,18,12,2019,11.95

### Grouping features sets as ENUM

An enum, short for enumeration, is a “set of symbolic names (members) bound to unique values”. Enums have a few key benefits:

- Defining enums lets you have related constants organized in one (or many) classes that can act as a source of truth for dimensions, measures, and other constants you need to call in your pipelines;
- Using enums will allow you to avoid passing invalid values in your data pipelines, assuming you correctly define and maintain the enum class;
- Enums allow users to work with a standardized set of data points and constants, which is helpful when multiple people are aggregating or creating models based on one main source of data (to help avoid having multiple definitions or aliases for the same column in the raw data source).

In [33]:
class CategoricalColumns(Enum):
    PRODUCT = "Product"
    QUANTITY_ORDERED = "Quantity Ordered"
    CITY = "City"
    STATE_CODE = "State Code"
    POSTAL_CODE = "Postal Code"
    HOUSE_NUMBER = "House Number"
    ORDER DAY = "Order Month"
    ORDER MONTH = "Order Day"
    ORDER HOUR = "Order Hour"
    ORDER YEAR = "Order Year"
    
class AddressColumns(Enum):
    STREET_NAME = "Street Name"
    CITY = "City"
    STATE_CODE = "State Code"
    POSTAL_CODE = "Postal Code"
    
class NumericalColumns(Enum):
    TOTAL_COST = "Total Cost"
    QUANTITY_ORDERED = "Quantity Ordered"
    PRICE EACH = 'Price Each'

In [27]:
SalesGroupByColumns.PRODUCT.value

'Product'

In [28]:
[column.value for column in SalesGroupByColumns]

['Product',
 'Quantity Ordered',
 'Street Name',
 'City',
 'State Code',
 'Postal Code']

In [29]:
groupby_columns = [column.value for column in SalesGroupByColumns]

grouped_df = (
    processed_df
    .groupby(groupby_columns)
    ["Order ID"]
    .count()
    .reset_index()
    .sort_values("Order ID", ascending=False)
    .rename({"Order ID": "Count of Order IDs"}, axis=1)
)

grouped_df.head()

,Product,Quantity Ordered,Street Name,City,State Code,Postal Code,Count of Order IDs
119481,Lightning Charging Cable,1,724 Ridge St,San Francisco,CA,94016,3
112348,Lightning Charging Cable,1,337 9th St,San Francisco,CA,94016,3
29618,AA Batteries (4-pack),1,284 Walnut St,San Francisco,CA,94016,3
152039,USB-C Charging Cable,1,880 Cherry St,San Francisco,CA,94016,3
92465,Bose SoundSport Headphones,1,970 Cherry St,San Francisco,CA,94016,3

In [34]:
# then separately we can do the groupby
groupby_columns = [column.value for column in AddressColumns]

grouped_df = (
    processed_df
    .groupby(groupby_columns)
    .agg(
        Total_Cost=(SalesMeasureColumns.TOTAL_COST.value, np.sum),
        Total_Quantity_Ordered=(SalesMeasureColumns.QUANTITY_ORDERED.value, np.sum)
    )
    .reset_index()
    .sort_values("Total_Cost", ascending=False)
)

### Filtering

In [35]:
filter_conditions = [
    grouped_df["Street Name"].str.contains("North"),
    grouped_df["Postal Code"].str.contains("940"),
    grouped_df["Total_Cost"] < 1000
]

The reduce method from functools allows you to pass a function and an iterable as arguments. The reduce method then applies the function to the elements in the iterable cumulatively. This means that it will perform the function in sequence for the set and combination of elements in the iterable.

Defining column names and filters in a centralized place means that everyone can refer back to a single source of truth and avoid having different names and logic to refer to ultimately the same thing.

In [37]:
# functools reduce
grouped_df.loc[reduce(lambda x, y: x & y, filter_conditions)]

,Street Name,City,State Code,Postal Code,Total_Cost,Total_Quantity_Ordered
18242,214 North St,San Francisco,CA,94016,999.99,1
77610,595 North St,San Francisco,CA,94016,999.99,1
9708,160 North St,San Francisco,CA,94016,999.99,1
116894,846 North St,San Francisco,CA,94016,999.99,1
69129,540 North St,San Francisco,CA,94016,999.99,1
...,...,...,...,...,...,...
11519,172 North St,San Francisco,CA,94016,2.99,1
128978,923 North St,San Francisco,CA,94016,2.99,1
122116,88 North St,San Francisco,CA,94016,2.99,1
44706,385 North St,San Francisco,CA,94016,2.99,1
44033,380 North St,San Francisco,CA,94016,2.99,1